@import "variables/init";



// Body


// Typography
$font-size-base: 0.9rem !default;
$line-height-base: 1.6 !default;

$root-font-size: 13px !default; // custom parameter
$root-font-size-lg: 12px !default; // custom parameter
$root-font-size-md: 12px !default; // custom parameter

//===============================================
//font default
//===============================================
$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace !default;

//===============================================
//widths
//===============================================
$widths: 20%, 72px, 100px, 150px, 250px, 275px, 300px !default;
$heights: 35%, 72px, 100px, 150px, 250px, 275px, 300px, 400px, 500px !default;


//===============================================
//numbers
//===============================================
$L: 1200px !default;
$M: 992px !default;
$S: 768px !default;
$xs: 576px !default;

$margin-and-padding-size: 2.5rem;
