//==========================================
//background colors
//==========================================

.bg-primary {
    background-color: $color-primary !important;
}

.bg-blue {
    background-color: $color-blue;
}

.bg-black-50 {
    background-color: $color-black-50;
}

.bg-coral-red {
    background-color: $color-coral-red;
}

.bg-malachite {
    background-color: $color-malachite;
}

.bg-mountain-meadow {
    background-color: $color-mountain-meadow;
}

.bg-lochmara {
    background-color: $color-lochmara;
}

.bg-instagram {
    background: $color-instagram;
}

.bg-malachite-10 {
    background-color: $color-malachite-10;
}

.bg-alabaster-2 {
    background-color: $color-alabaster-2;
}

.bg-alabaster-3 {
    background-color: $color-alabaster-3;
}

.bg-silver-2 {
    background-color: $color-silver-2;
}

.bg-silver-3 {
    background-color: $color-silver-3;
}

.bg-gallery-3 {
    background-color: $color-gallery-3;
}

.bg-seashell {
    background-color: $color-seashell;
}

.bg-concrete {
    background-color: $color-concrete;
}

.bg-persimmon {
    background-color: $color-persimmon;
}

.bg-froly {
    background-color: $color-froly;
}

.bg-brink-pink {
    background-color: $color-brink-pink;
}

.bg-cornflower-lilac {
    background-color: $color-cornflower-lilac;
}

.bg-mercury {
    background-color: $color-mercury;
}

.bg-atomic-tangerine {
    background-color: $color-atomic-tangerine;
}

.bg-wild-sand {
    background-color: $color-wild-sand;
}

.bg-wild-sand-2 {
    background-color: $color-wild-sand-2;
}

.bg-alto-3 {
    background-color: $color-alto-3;
}

.bg-picasso {
    background-color: $color-picasso;
}

.bg-reef {
    background-color: $color-reef;
}

.bg-mint-green {
    background-color: $color-mint-green;
}


//==========================================
//background colors after before
//==========================================
.bg-after-atomic-tangerine {
    &::after {
        background-color: $color-atomic-tangerine;
    }
}

.bg-after-mint-green {
    &::after {
        background-color: $color-mint-green;
    }
}

.bg-after-cornflower-lilac {
    &::after {
        background-color: $color-cornflower-lilac;
    }
}

//==========================================
// background image options
//==========================================
.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-position-center {
    background-position: center;
}

.bg-size-cover {
    background-size: cover;
}

.bg-attachment-fixed {
    background-attachment: fixed;
}
