//==========================================
//colors
//==========================================
//.color-black {
//  color: $color-black;
//}

.color-primary {
    color: $color-primary;
}

.color-blue {
    color: $color-blue;
}

.color-white {
    color: $color-white;
}

.color-alto {
    color: $color-alto;
}

.color-alto-3 {
    color: $color-alto-3;
}

.color-alto-4 {
    color: $color-alto-4;
}

.color-black {
    color: $color-black;
}

.color-black-30 {
    color: $color-black-30;
}

.color-black-60 {
    color: $color-black-60;
}

.color-black-80 {
    color: $color-black-80;
}

.color-silver {
    color: $color-silver;
}

.color-dusty-gray {
    color: $color-dusty-gray;
}

.color-silver-2 {
    color: $color-silver-2;
}

.color-silver-3 {
    color: $color-silver-3;
}

.color-silver-6 {
    color: $color-silver-6;
}

.color-coral-red {
    color: $color-coral-red;
}

.color-atomic-tangerine {
    color: $color-atomic-tangerine;
}

.color-persimmon {
    color: $color-persimmon;
}

.color-malachite {
    color: $color-malachite;
}

.color-malachite-30 {
    color: $color-malachite-30;
}

.color-alabaster {
    color: $color-alabaster;
}

.color-cornflower-lilac {
    color: $color-cornflower-lilac;
}

.color-dove-gray {
    color: $color-dove-gray;
}

.color-nobel {
    color: $color-nobel;
}

.color-silver-chalice {
    color: $color-silver-chalice;
}

.color-silver-chalice-2 {
    color: $color-silver-chalice-2;
}

.color-tundora {
    color: $color-tundora;
}

.color-tundora-50 {
    color: $color-tundora-50;
}

.color-tundora-2 {
    color: $color-tundora-2;
}

.color-dove-gray-2 {
    color: $color-dove-gray-2;
}

.color-dove-gray-3 {
    color: $color-dove-gray-3;
}

.color-dove-gray-4 {
    color: $color-dove-gray-4;
}

.color-dove-gray-5 {
    color: $color-dove-gray-5;
}

.color-dove-gray-6 {
    color: $color-dove-gray-6;
}

.color-dove-gray-7 {
    color: $color-dove-gray-7;
}

.color-masala {
    color: $color-masala;
}

.color-mine-shaft {
    color: $color-mine-shaft;
}

.color-alabaster-3 {
    color: $color-alabaster-3;
}

.color-heliotrope {
    color: $color-heliotrope;
}

.color-science-blue {
    color: $color-science-blue;
}
