@each $name, $width in $widths {
    $name : str-replace(($width),'%','');
    .w-#{$name} {
        width: $width !important;
    }
}
$widths: map-merge($default-widths-heights, $widths);

@include media-breakpoint-down(sm)  {
    @each $name, $width in $widths {
        $name : str-replace(($width),'%','');
        .w-sm-#{$name} {
            width: $width !important;
        }
    }
}

@include media-breakpoint-up(sm)  {
    @each $name, $width in $widths {
        $name : str-replace(($width),'%','');
        .w-md-#{$name} {
            width: $width !important;
        }
    }
}

@include media-breakpoint-up(lg)  {
    @each $name, $width in $widths {
        $name : str-replace(($width),'%','');
        .w-lg-#{$name} {
            width: $width !important;
        }
    }
}

@include media-breakpoint-up(xl) {
    @each $name, $width in $widths {
        $name : str-replace(($width),'%','');
        .w-xl-#{$name} {
            width: $width !important;
        }
    }
}
